@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?47787586');
  src: url('../font/fontello.eot?47787586#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?47787586') format('woff2'),
       url('../font/fontello.woff?47787586') format('woff'),
       url('../font/fontello.ttf?47787586') format('truetype'),
       url('../font/fontello.svg?47787586#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?47787586#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-up-hand:before { content: '\e0f8'; } /* '' */
.icon-check:before { content: '\e741'; } /* '' */
.icon-logout:before { content: '\e800'; } /* '' */
.icon-cancel-circled:before { content: '\e801'; } /* '' */
.icon-cancel-circled2:before { content: '\e802'; } /* '' */
.icon-eye:before { content: '\e803'; } /* '' */
.icon-upload:before { content: '\e804'; } /* '' */
.icon-download:before { content: '\e805'; } /* '' */
.icon-attention:before { content: '\e806'; } /* '' */
.icon-search:before { content: '\e807'; } /* '' */
.icon-mail:before { content: '\e808'; } /* '' */
.icon-anchor:before { content: '\e809'; } /* '' */
.icon-resize-full-alt:before { content: '\e80a'; } /* '' */
.icon-tag:before { content: '\e80b'; } /* '' */
.icon-cw:before { content: '\e80c'; } /* '' */
.icon-edit:before { content: '\e80d'; } /* '' */
.icon-attention-circled:before { content: '\e80e'; } /* '' */
.icon-trash-empty:before { content: '\e80f'; } /* '' */
.icon-doc:before { content: '\e810'; } /* '' */
.icon-calendar:before { content: '\e811'; } /* '' */
.icon-edit-1:before { content: '\e812'; } /* '' */
.icon-resize-full:before { content: '\e813'; } /* '' */
.icon-up-bold:before { content: '\e814'; } /* '' */
.icon-down-fat:before { content: '\e815'; } /* '' */
.icon-cancel-circled2-1:before { content: '\e816'; } /* '' */
.icon-upload-1:before { content: '\e817'; } /* '' */
.icon-exclamation:before { content: '\e818'; } /* '' */
.icon-down-open-1:before { content: '\e819'; } /* '' */
.icon-up-open-1:before { content: '\e81a'; } /* '' */
.icon-left-open-1:before { content: '\e81b'; } /* '' */
.icon-right-open-1:before { content: '\e81c'; } /* '' */
.icon-arrows-cw:before { content: '\e81d'; } /* '' */
.icon-down-dir:before { content: '\e81e'; } /* '' */
.icon-up-dir:before { content: '\e81f'; } /* '' */
.icon-cog:before { content: '\e820'; } /* '' */
.icon-cog-alt:before { content: '\e821'; } /* '' */
.icon-down-dir-1:before { content: '\e822'; } /* '' */
.icon-up-dir-1:before { content: '\e823'; } /* '' */
.icon-down-open-2:before { content: '\e824'; } /* '' */
.icon-right-open-2:before { content: '\e825'; } /* '' */
.icon-left-open-2:before { content: '\e826'; } /* '' */
.icon-up-open-2:before { content: '\e827'; } /* '' */
.icon-plus:before { content: '\e828'; } /* '' */
.icon-compass:before { content: '\e829'; } /* '' */
.icon-resize-full-alt-1:before { content: '\e82a'; } /* '' */
.icon-tag-1:before { content: '\e82b'; } /* '' */
.icon-edit-2:before { content: '\e82c'; } /* '' */
.icon-compass-1:before { content: '\e82d'; } /* '' */
.icon-cogs:before { content: '\e82e'; } /* '' */
.icon-up:before { content: '\e82f'; } /* '' */
.icon-thumbs-up:before { content: '\e830'; } /* '' */
.icon-lock:before { content: '\e831'; } /* '' */
.icon-lock-open:before { content: '\e832'; } /* '' */
.icon-thumbs-down:before { content: '\e833'; } /* '' */
.icon-bell:before { content: '\e834'; } /* '' */
.icon-resize-small:before { content: '\e835'; } /* '' */
.icon-resize-full-1:before { content: '\e836'; } /* '' */
.icon-right-hand:before { content: '\e837'; } /* '' */
.icon-left-hand:before { content: '\e838'; } /* '' */
.icon-tags-3:before { content: '\e839'; } /* '' */
.icon-down-hand:before { content: '\e83a'; } /* '' */
.icon-eye-off:before { content: '\e83b'; } /* '' */
.icon-arrows-cw-1:before { content: '\e83c'; } /* '' */
.icon-resize-small-alt:before { content: '\e83d'; } /* '' */
.icon-tags:before { content: '\e83e'; } /* '' */
.icon-tags-4:before { content: '\e83f'; } /* '' */
.icon-resize-small-1:before { content: '\e840'; } /* '' */
.icon-phone:before { content: '\e841'; } /* '' */
.icon-th:before { content: '\e842'; } /* '' */
.icon-th-large:before { content: '\e843'; } /* '' */
.icon-ok-1:before { content: '\e844'; } /* '' */
.icon-cancel-1:before { content: '\e845'; } /* '' */
.icon-users:before { content: '\e846'; } /* '' */
.icon-th-large-1:before { content: '\e847'; } /* '' */
.icon-down-open:before { content: '\f004'; } /* '' */
.icon-up-open:before { content: '\f005'; } /* '' */
.icon-right-open:before { content: '\f006'; } /* '' */
.icon-left-open:before { content: '\f007'; } /* '' */
.icon-th-thumb-empty:before { content: '\f00b'; } /* '' */
.icon-move:before { content: '\f047'; } /* '' */
.icon-info-circled-alt:before { content: '\f086'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-angle-circled-left:before { content: '\f137'; } /* '' */
.icon-angle-circled-right:before { content: '\f138'; } /* '' */
.icon-angle-circled-up:before { content: '\f139'; } /* '' */
.icon-angle-circled-down:before { content: '\f13a'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
.icon-ellipsis-vert:before { content: '\f142'; } /* '' */
.icon-minus-squared:before { content: '\f146'; } /* '' */
.icon-minus-squared-alt:before { content: '\f147'; } /* '' */
.icon-sort-alt-up:before { content: '\f160'; } /* '' */
.icon-sort-alt-down:before { content: '\f161'; } /* '' */
.icon-bitbucket:before { content: '\f171'; } /* '' */
.icon-linux:before { content: '\f17c'; } /* '' */
.icon-dot-circled:before { content: '\f192'; } /* '' */
.icon-plus-squared-alt:before { content: '\f196'; } /* '' */
.icon-fax:before { content: '\f1ac'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-calc:before { content: '\f1ec'; } /* '' */
.icon-bell-off-empty:before { content: '\f1f7'; } /* '' */
.icon-toggle-off:before { content: '\f204'; } /* '' */
.icon-toggle-on:before { content: '\f205'; } /* '' */
.icon-safari:before { content: '\f267'; } /* '' */
.icon-chrome:before { content: '\f268'; } /* '' */
.icon-firefox:before { content: '\f269'; } /* '' */
.icon-calendar-1:before { content: '\f4c5'; } /* '' */
.icon-search-1:before { content: '\f50d'; } /* '' */
